#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


:root {
  color-scheme: light dark;
  color: rgba(181, 134, 11);
  background-color: #232222;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
  font-family: 'Golos Text', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.file {
  display: none;
  }

  .customFile {
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.4em;
    font-family: 'Montserrat';
    background-color: #1a1a1a;
    cursor: pointer;
    float: left;
  }

  .customFile:hover {
    border-color: #646cff;
  }
  
  .customFile:active {
    cursor: pointer;
  box-shadow: inset 1px 50px 1px #111111;
  }

  .card {
    position: relative;
    left: 110px;
    top: 40px;
    width: 500px;
    border-radius: 10px;
    padding: 0.07rem;
    height: 300px;
    box-shadow: 1px 1px 1px rgba(0,0,0, .2);
    border: 1px solid transparent;
    border-color: #686565;
  }

  .btnChange {
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.4em;
    font-family: 'Montserrat';
    background-color: #1a1a1a;
    cursor: pointer;
    position: fixed;
    top: 157px;
    left: 890px;
  }

  .btnChange:hover {
    border-color: #646cff;
  }
  
  .btnChange:active {
    cursor: pointer;
  box-shadow: inset 1px 50px 1px #111111;
  }

  .grayscale {  
    filter: grayscale(1);
    transition: 1s;
  }

  .grayscale:hover {
    filter: grayscale(0)
  }