#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


:root {
  color-scheme: light dark;
  color: rgba(181, 134, 11);
  background-color: #232222;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
  font-family: 'Golos Text', sans-serif;
  color: rgba(181, 134, 11);
  background-color: #232222;
}

h1 {
  color: rgba(181, 134, 11);
  font-size: 4em;
  line-height: 1.1;
}


.file {
  display: none;
  }

  .customFile {
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.4em;
    font-family: 'Montserrat';
    background-color: #1a1a1a;
    cursor: pointer;
    float: left;
    position: relative;
    left: 310px;
  }

  .customFile:hover {
    border-color: #646cff;
  }
  
  .customFile:active {
    cursor: pointer;
  box-shadow: inset 1px 50px 1px #111111;
  }

  .card {
    position: relative;
    right: 60px;
    top: 70px;
    width: 500px;
    border-radius: 10px;
    height: 300px;

    box-shadow: 1px 1px 1px rgba(0,0,0, .2);
    border: 3px solid transparent;
    border-color: #686565;
  }

  
  .wrapper {
    position: relative;
    height: 20rem;
    width: 3rem;  
    }

  
  input[type="range"] {
    -webkit-appearance: none;
    background-color: rgba(#fff, .2);
    position: absolute;
    top: 50%;
    left: 700%;
    margin: -249px;
    padding: 0;
    width: 20rem;
    height: 3.5rem;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 1rem;
    overflow: hidden;
    cursor: row-resize;
    
    &[step]{
      background-color: transparent;
      background-image: repeating-linear-gradient(to right, rgba(#fff, .2), rgba(#fff, .2) calc(12.5% - 1px), #05051a 12.5%);
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0;
      box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
    }
  
    &::-moz-range-thumb {
      border: none;
      width: 0;
      box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
    }
  }
  